<div class="mainWrap without_sidebar">
  <div class="main">
    <div class="content">

      <section id="mobile_tap_hover" class="itemPage post post_format_standard postAlter hrShadow no_padding">
        <div class="container">
          <article class="post_content">
            <h1 class="post_title entry-title">Aula <%= @lesson.subject%></h1>
            <div class="">
              <iframe class="" width="100%" height="50%" src="<%= "https://www.youtube.com/embed/"+@video %>"></iframe>
            </div>
            <div class="sc_line sc_line_style_dashed"></div>

            <div class="reviewBlock sc_tabs">
              <div class="popularFiltr">
                <ul>
                  <li class="squareButton">
                    <a href="#author-tabs">Author</a>
                  </li>
                  <li class="squareButton">
                    <a href="#users-tabs">Users</a>
                  </li>
                </ul>
              </div>
              <div class="ratingStars" id="author-tabs">
                <div class="ratBody">
                  <div class="ratingItem" data-mark="83">
                    <div class="starDefault">
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                    </div>
                    <div class="starHover">
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                    </div>
                  </div>
                  <span class="name">Reviews criteria 1</span>
                </div>
                <div class="ratBody">
                  <div class="ratingItem" data-mark="93">
                    <div class="starDefault">
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                    </div>
                    <div class="starHover">
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                    </div>
                  </div>
                  <span class="name">Reviews criteria 2</span>
                </div>
                <div class="ratBody">
                  <div class="ratingItem" data-mark="93">
                    <div class="starDefault">
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                    </div>
                    <div class="starHover">
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                    </div>
                  </div>
                  <span class="name">Reviews criteria 3</span>
                </div>
                <div class="ratBody">
                  <div class="ratingItem" data-mark="94">
                    <div class="starDefault">
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                    </div>
                    <div class="starHover">
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                    </div>
                  </div>
                  <span class="name">Reviews criteria 4</span>
                </div>
                <div class="infoTotal">
                  <div class="infoRat">Donec lacinia elementum nunc, sed condimentum eros dictum ut. Sed pretium lacinia tortor, ac porta sapien congue sed. Morbi quis nisl dolor. Vestibulum a lectus vel orci pulvinar consequat vitae et nibh. Pellentesque lectus urna, varius a ullamcorper quis, suscipit sed nisi. Donec eget euismod justo. Phasellus non lacus et turpis accumsan consequat sit amet </div>
                  <div class="totalWrap">
                    <div class="totalStar">
                      <div class="ratingItem" data-mark="90.8">
                        <div class="starDefault">
                          <span class="starReview"></span>
                          <span class="starReview"></span>
                          <span class="starReview"></span>
                          <span class="starReview"></span>
                          <span class="starReview"></span>
                        </div>
                        <div class="starHover">
                          <span class="starReview"></span>
                          <span class="starReview"></span>
                          <span class="starReview"></span>
                          <span class="starReview"></span>
                          <span class="starReview"></span>
                        </div>
                      </div>
                    </div>
                    <div class="totalRating" data-mark="90.8">90.8</div>
                  </div>
                </div>
              </div>
              <div class="ratingStars" id="users-tabs">
                <div class="ratBody">
                  <div class="ratingItem ratingEdit" data-mark="91">
                    <span class="ratBubble">91</span>
                    <div class="starDefault">
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                    </div>
                    <div class="starHover">
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                    </div>
                    <input type="hidden" name="reviews_marks[]" value="91"/>
                  </div>
                  <span class="name">Reviews criteria 1</span>
                </div>
                <div class="ratBody">
                  <div class="ratingItem ratingEdit" data-mark="63">
                    <span class="ratBubble">63</span>
                    <div class="starDefault">
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                    </div>
                    <div class="starHover">
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                    </div>
                    <input type="hidden" name="reviews_marks[]" value="63"/>
                  </div>
                  <span class="name">Reviews criteria 2</span>
                </div>
                <div class="ratBody">
                  <div class="ratingItem ratingEdit" data-mark="93">
                    <span class="ratBubble">93</span>
                    <div class="starDefault">
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                    </div>
                    <div class="starHover">
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                    </div>
                    <input type="hidden" name="reviews_marks[]" value="93"/>
                  </div>
                  <span class="name">Reviews criteria 3</span>
                </div>
                <div class="ratBody">
                  <div class="ratingItem ratingEdit" data-mark="66">
                    <span class="ratBubble">66</span>
                    <div class="starDefault">
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                    </div>
                    <div class="starHover">
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                      <span class="starReview"></span>
                    </div>
                    <input type="hidden" name="reviews_marks[]" value="66"/>
                  </div>
                  <span class="name">Reviews criteria 4</span>
                </div>
                <div class="accept">
                  <div class="squareButton global">
                    <a href="#" title="Accept your votes">Accept</a>
                  </div>
                </div>
                <div class="infoTotal">
                  <div class="infoRat">Summary rating from <b>1</b> user's marks. You can set own marks for this article - just click on stars above and press "Accept".</div>
                  <div class="totalWrap">
                    <div class="totalStar">
                      <div class="ratingItem" data-mark="78.3">
                        <div class="starDefault">
                          <span class="starReview"></span>
                          <span class="starReview"></span>
                          <span class="starReview"></span>
                          <span class="starReview"></span>
                          <span class="starReview"></span>
                        </div>
                        <div class="starHover">
                          <span class="starReview"></span>
                          <span class="starReview"></span>
                          <span class="starReview"></span>
                          <span class="starReview"></span>
                          <span class="starReview"></span>
                        </div>
                      </div>
                    </div>
                    <div class="totalRating" data-mark="78.3">78.3</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="post_text_area">

              <h2>Questões:</h2>
              <div id="questoes">

                <%= render :partial => 'quiz'%>

              </div>
              <div class="sc_line sc_line_style_dashed"></div>

              <div class="itemInfo">
                <div class="postSharing">
                  <ul>
                    <li class="squareButton light ico share">
                      <a class="icon-share shareDrop" title="Share" href="#">Share</a>
                      <ul class="share-social shareDrop">
                        <li>
                          <a href="#" class="share-item" onclick="window.open('http://pinterest.com/', '_blank', 'scrollbars=0, resizable=1, menubar=0, left=100, top=100, width=480, height=400, toolbar=0, status=0'); return false;">
                            <img src="images/pinterest_color.png" alt="pinterest">Pinterest</a>
                        </li>
                        <li>
                          <a href="#" class="share-item" onclick="window.open('https://twitter.com/', '_blank', 'scrollbars=0, resizable=1, menubar=0, left=100, top=100, width=480, height=400, toolbar=0, status=0'); return false;">
                            <img src="images/twitter_color.png" alt="twitter">Twitter</a>
                        </li>
                        <li>
                          <a href="#" class="share-item" onclick="window.open('http://www.facebook.com/', '_blank', 'scrollbars=0, resizable=1, menubar=0, left=100, top=100, width=480, height=400, toolbar=0, status=0'); return false;">
                            <img src="images/facebook_color.png" alt="facebook">Facebook</a>
                        </li>
                      </ul>
                    </li>
                    <li class="squareButton light ico">
                      <a class="icon-eye" title="Views - 352" href="#">352</a>
                    </li>
                    <li class="squareButton light ico">
                      <a class="icon-comment-1" title="Comments - 0" href="#">0</a>
                    </li>
                    <li class="squareButton light ico">
                      <a class="icon-star-1" title="Rating - 90.8" href="#">90.8</a>
                    </li>
                    <li class="squareButton light ico likeButton like" data-postid="942" data-likes="2" data-title-like="Like" data-title-dislike="Dislike">
                      <a class="icon-heart-1" title="Like - 2" href="#">
                        <span class="likePost">2</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="post_info infoPost">
                  Posted
                  <a href="#" class="post_date date updated">August 29, 2014</a>
                  <span class="separator">|</span>
                  <span class="post_cats">
													<a class="cat_link" href="#">Classic (4 columns),</a>
													<a class="cat_link" href="#">Grid (4 columns,</a>
													<a class="cat_link" href="#">Masonry (4 columns)</a>
												</span>
                </div>
              </div>
            </div>

          </article>
        </div>
      </section>

      <section class="no_padding author vcard hrShadow">
        <div class="container">
          <h2 class="post_author_title">
            Sobre o professor
            <span>
									<a href="#" class="fn"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            </span>
          </h2>
          <div class="avatar">
            <a href="#">
              <img alt='' src='/assets/newtheme/no-ava.png' srcset='/assets/newtheme/no-ava.png' class='avatar avatar-50 photo' height='50' width='50'/>
            </a>
          </div>
          <div class="authorInfo">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris maximus nisl tellus, sed finibus ex facilisis sit amet. In et mauris tincidunt, laoreet lacus ac, laoreet quam. Sed non vehicula lacus, vel dictum augue. Nullam quis massa eu turpis scelerisque semper. Morbi vulputate consequat placerat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse lacinia luctus semper.</p>
          </div>
        </div>
      </section>


    </div>
  </div>
</div>