<p>Olá <%= @resource.email %>!</p>

<p>Alguém requisitou uma mudança de senha na sua conta. Você pode fazer isso no link a seguir.</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se não foi você, por favor ignore esse email.</p>
<p>Sua senha não vai mudar enquanto você não visitar o link e mudar a sua senha.</p>
